{% extends 'base.html.twig' %}
{% block body %}
    <div class="header">


        <div class="row">
            <div class="logo">
                <img src="{{ asset('sources/logo.png') }}">
            </div>

            <h1 class="library-name"><a href="{{ path('homepage') }}" class="homepage-link">Libra</a></h1>


            <ul class="main-nav">

                <li><a href="/#offer">KATALOG</a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ logout_path() }}" >ODJAVI</a></li>
                {% endif %}

            </ul>
        </div>

    </div>
    <div class="clear"></div>
    {% block body2 %}{% endblock %}
    {% block javascripts %}
    {% endblock %}
{% endblock %}