{% extends 'base.html.twig' %}

{% block body %}
    <div class="header">


        <div class="row">
            <div class="logo">
                <img src="icon-final.png">

            </div>

            <h1 class="library-name">Libra</h1>


            <ul class="main-nav">
                <li><a href="#cat_id">KATALOG</a></li>
                <li><a href="">KONTAKT</a></li>
            </ul>
        </div>

    </div>
    <div class="clear"></div>
    <div class="q">
        <p class="quote"><cite>"This is a simple hero unit, a simple jumbotron-style component for <br>calling extra attention to featured content or information."</cite></p>
    </div>


    <div class="clear"></div>
    <div class="rest">
        <section class="col-sm-3 sidenav hidden-xs text-center filter">
            <h3>FILTERI:</h3>
            <div class="form-group">
                <label for="select" class="attribute">Autor:</label>
                <div class="col-lg-10">
                    <select class="form-control select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <label for="select" class="attribute">Žanr:</label>
                <div class="col-lg-10">
                    <select class="form-control select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="clear"></div>
                <div class="form-group">
                    <label for="select"  class="attribute">Nakladnik:</label>
                    <div class="col-lg-10">
                        <select class="form-control select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="action" class="attribute">Godina izdanja:</label>
                <div class="col-lg-10">
                    <form class="number">
                        <input type="number" name="year" min="1500" max="2017">
                        <input type="submit">
                    </form>
                </div>
            </div>
        </section>
        <div class="offer">
            <section id="top5" class="catalogue">
                <h3>TOP 5 (preporuka vlasnika):</h3>
                <ul id="top5cat" class="book-gallery">

                    <li>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">NASLOV</button>
                            </div>
                            <div class="panel-body">
                                <img class="cover img-responsive" src="">
                                <p>autor:jkfhjkds</p>
                                <p>nakladnik:jkhhjhgj</p>
                            </div>



                        </div>
                    </li>
                </ul>

            </section>
            <div class="clear"></div>

            <section class="catalogue" id="cat_id">
                <h3>KATALOG:</h3>
                <ul class="book-gallery">


                    <li>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">NASLOV</button>
                            </div>
                            <div class="panel-body">
                                <img class="cover img-responsive" src="">
                                <p>autor:jkfhjkds</p>
                                <p>nakladnik:jkhhjhgj</p>
                            </div>



                        </div>
                    </li>

                </ul>

            </section>
        </div>
        <div class="clear"></div>
        <section id="contact" class="container">

            <div></div>

        </section>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">NASLOV</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body panel-body">
                    <img class="cover img-responsive" src="img1.jpg">
                    <div class="fullatr">
                        <p>autor:jkfhjkds</p>
                        <p>nakladnik:jkhhjhgj</p>
                        <p>cijena:31231kn</p>
                        <p>ocjena:4.5/5</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
<style>
    body
    {
        background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(knjizara.jpg);
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

    }

    .header
    {
        position: fixed;
        width: 100%;
        left: 0;
        top:0;
        z-index:1;
        background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(knjizara.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    .library-name
    {
        margin-left: 20px;
        color: white;
        font-size: 50px;
        float: left;
        margin-top: 50px;
    }


    .quote
    {
        text-align: center;
        color: white;
        font-size: 25px;
        margin-top: 200px;
        margin-bottom: 400px;
        padding-top: 200px;
    }

    .main-nav
    {
        float: right;
        list-style-type: none;
        margin-right: 30px;
        margin-top: 70px;
    }

    .main-nav li
    {
        display: inline-block;
        margin-left: 30px;
    }

    .main-nav li a
    {
        color: white;
        text-decoration: none;
        font-size: 90%;
        font-weight: bold;

    }


    .main-nav li a:hover
    {
        color: #cc0000;
        border-bottom: 2px solid #b30000;
        transition:all 0.2s ease-in;
        padding: 10px 0;
    }

    .logo img
    {
        height: 100px;
        float: left;
        margin-top: 30px;
        margin-left: 30px
    }

    .row
    {
        max-width: 1140px;
        margin: 0 auto;
    }
    .clear{
        clear: both;
    }
    .cover{
        height: 110px;
        width: 90px;

    }
    .rest{
        z-index: 2;
        margin:0 auto;
        max-width: 1300px;
        padding: 0;


    }


    .catalogue{

        max-width: 950px;
        margin: 0 auto;
        padding:0;


    }
    .book-gallery{
        list-style: none;
        max-width:900px;
        float:left;
        list-style-type: none;
        padding:0;
        margin: 0;

    }
    .book-gallery li{
        box-sizing: border-box;
        display:block;
        float:left;
        max-width: 150px;
        max-height:100px;
        color: #171e42;
        margin-right:10px;
        margin-bottom: 200px;

    }
    .book-gallery li:hover{
        transform:scale(1.25);
        transition:0.5s;
    }
    .cover{
        float:left;
        width:80px;
        height:90px;
        margin-right: 5px;


    }

    #top5{
        float:left;

        max-width: 1000px;
        margin:15px 0 0 0;
        padding:25px 0 0 0;
        margin-bottom: 5 30px;
        list-style-type: none;
    }


    #top5cat{
        margin: 10px 0 0 0;
        padding: 15px 0 0 0;
    }
    #top5cat li:hover{
        transform:scale(1.25);
        transition:0.5s;
    }
    .panel {
        max-height: 100px;
        max-width: 100px;
    }
    .filter{
        color:white;
        background-color:	#392613;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        float:left;
        max-width:300px;
        margin:0;
        padding: 5px;
        border-radius: 20px;
    }
    .offer{
        background-color: 	#392613;
        color:white;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        margin-left: 10px;
        padding: 0 10px 0 30px;
        float:left;
        font-weight: bold;
        border-radius: 20px;
    }
    .form-group{

        line-height: 30px;
        padding: 5px;
    }
    .form-control{
        float:left;
    }
    .attribute{
        float:left;
        margin-right: 15px;
    }
    .select{
        float:left;
    }
    .col-lg-10{
        margin-bottom: 10px;
        padding: 0;
    }
    .number{
        color: black;
    }
    .fullatr{
        float: left;
        margin-left: 10px;
    }
    .panel-heading {
        background-color:#31B0D5;
    }
</style>
{% endblock %}
