{% extends 'base_user.html.twig' %}

{% block body2 %}
    <div class="header">


        <div class="row">
            <div class="logo">
                <img src="{{ asset('sources/logo.png') }}">
            </div>

            <h1 class="library-name"><a href="{{ path('homepage') }}" class="homepage-link">Libra</a></h1>


            <ul class="main-nav">
                <li><a href="#offer">KATALOG</a></li>
                <li><a href="">KONTAKT</a></li>
            </ul>
        </div>

    </div>
    <div class="clear"></div>


    {% block book %}

    {% endblock  %}


    <div class="clear"></div>
    <section id="contact" class="container">

        <div></div>

    </section>
    </div>

    <script type="text/javascript">
        $(function() {
            $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        body
        {
            background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("sources/pozadina.jpg");
            height: 100vh;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;

        }

        .header
        {
            position: fixed;
            width: 100%;
            left: 0;
            top:0;
            z-index:1;
            background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("sources/pozadina.jpg");
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }

        .library-name
        {
            margin-left: 20px;
            color: white;
            font-size: 50px;
            float: left;
            margin-top: 50px;
        }




        .main-nav
        {
            float: right;
            list-style-type: none;
            margin-right: 30px;
            margin-top: 70px;
        }

        .main-nav li
        {
            display: inline-block;
            margin-left: 30px;
        }

        .main-nav li a
        {
            color: white;
            text-decoration: none;
            font-size: 90%;
            font-weight: bold;

        }


        .main-nav li a:hover
        {
            color: #cc0000;
            border-bottom: 2px solid #b30000;
            transition:all 0.2s ease-in;
            padding: 10px 0;
        }

        .logo img
        {
            height: 100px;
            float: left;
            margin-top: 30px;
            margin-left: 30px
        }

        .row
        {
            max-width: 1140px;
            margin: 0 auto;
        }
        .clear{
            clear: both;
        }

        .book-gallery li{
            box-sizing: border-box;
            display:block;
            float:left;
            max-width: 150px;
            max-height:100px;
            color: #171e42;
            margin-right:10px;
            margin-bottom: 200px;

        }
        .book-gallery li:hover{
            transform:scale(1.25);
            transition:0.5s;
        }

        #top5cat li:hover{
            transform:scale(1.25);
            transition:0.5s;
        }

        .homepage-link{
            color: white;
            text-decoration: none;
        }

        .homepage-link:hover{
            color: white;
            text-decoration: none;
        }

        .quote
        {
            text-align: center;
            color: white;
            font-size: 25px;
            margin-top: 200px;
            margin-bottom: 400px;
            padding-top: 200px;
        }
        .cover{
            height: 110px;
            width: 90px;

        }

        .rest{
            z-index: 2;
            margin:0 auto;
            max-width: 1300px;
            padding: 0;


        }


        .catalogue{

            max-width: 950px;
            margin: 0 auto;
            padding:0;


        }
        .book-gallery{
            list-style: none;
            max-width:900px;
            float:left;
            list-style-type: none;
            padding:0;
            margin: 0;

        }

        .cover{
            float:left;
            width:80px;
            height:90px;
            margin-right: 5px;


        }

        #top5{
            float:left;

            max-width: 1000px;
            margin:15px 0 0 0;
            padding:25px 0 0 0;
            margin-bottom: 5px 30px;
            list-style-type: none;
        }


        #top5cat{
            margin: 10px 0 0 0;
            padding: 15px 0 0 0;
        }


        .filter{
            color:white;
            background-color: #392613;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            float:left;
            max-width:300px;
            margin:0;
            padding: 5px;
            border-radius: 20px;
        }
        .offer{
            background-color: #392613;
            color:white;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            margin-left: 10px;
            padding: 0 10px 0 30px;
            float:left;
            font-weight: bold;
            border-radius: 20px;
        }
        .form-group{

            line-height: 30px;
            padding: 5px;
        }
        .form-control{
            float:left;
        }
        .attribute{
            float:left;
            margin-right: 15px;
        }
        .select{
            float:left;
        }
        .col-lg-10{
            margin-bottom: 10px;
            padding: 0;
        }
        .number{
            color: black;
        }

        .panel-heading {
            background-color:#31B0D5;
        }



        .description-list
        {
            list-style-type: none;
        }
        .mailadr{
            color: white;
        }
        .mailadr:hover{
            color: white;
            text-decoration: none;
        }
        .mailadr:visited{
            color: white;
            text-decoration: none;
        }

        .navbar-toggle, .icon-bar {
            border:1px solid white;
        }
        .navbar{
            background-color:#392613;
            border: none;
            border-radius: 20px;
        }
        #contact{
            color:white;
            background-color:#392613;
            margin-top: 15px;
            border-radius: 20px;
            width:100%;
        }
        #podaci1{
            float:left;
            margin-right: 50px;
        }

        iframe{
            max-width: 300px;
            max-height: 200px;
            float:left;
            padding-bottom: 20px;
            padding-left: 20px;
        }
        #podaci2{
            float:left;
            padding-top: 55px;
            margin:0 50px 50px 0;
        }
        #cr{
            background-color: black;
            color:white;
            float:left;
            width:100%;
            text-align: right;
            padding-right: 50px;
        }

        .book-description
        {
            margin-top: 200px;
            background-color: #392613;
            background-size: cover;
            margin-left: 10px;
            padding: 0 10px 0 30px;

        }

        .list-group
        {
            float: left;
            color: white;
            width: 80%;
            border-radius: 20px;
        }

        .list-group .list-group-item {
            position: relative;
            display: block;
            padding: 10px 15px;
            margin-bottom: -1px;
            background-color: #392613;
            border: 1px solid #392613;
            background-size: 100%;

        }
        .cover-img{

            width:160px;
            height:180px;
            margin-right: 5px;
            float: left;
            background-size: cover;
            border-radius: 20px;
        }

    </style>
{% endblock %}
