{% extends 'default/index.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Admin page</h2>
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ path('add_book') }}">ADD BOOK</a></li>
            <li class="list-group-item"><a href="{{ path('add_attributes') }}">ADD ATTRIBUTES</a></li>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="list-group-item"><a href="{{ path('featured_book') }}">FEATURED</a></li>
                <li class="list-group-item"><a href="{{ path('admin_add') }}">ADD ADMIN</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock body %}