{% extends 'base_user.html.twig' %}

{% block body2 %}
    <div class="container">
        <div id="loginbox" class="bookcon mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Prijava</div>
                </div>

                <div class="panel-body" >

                    {% if error %}
                        <div id="signupalert" class="alert alert-danger">
                            {{ error.messageKey }}
                        </div>
                    {% endif %}

                    <form id="loginform"  action="{{ path('security_login') }}" class="form-horizontal" role="form" method="post">

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="text" class="form-control" name="_username" value="{{ last_username }}" placeholder="username">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="_password" placeholder="password">
                        </div>

                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body2 %}